body{
	background-color: #f4f4f4;
	color: #555;
	font-family: arial, helvetica, sans-serif;
	font-size: 16px;
	line-height: 1.6em;
	margin: 0;
}

.container {
	width: 80%;
	margin: auto;
	overflow: hidden;
}

#main-header{
	background-color: coral;
	color: #fff;
}

#navbar{
	background-color: grey;
	color: white;
}

#navbar ul{
	padding: 0;
	list-style: none;
}

#navbar li{
	display: inline;
}


#navbar a{
	color: #fff;
	text-decoration: none;
	font-size: 18px;
	padding-right: 15px;
}

#showcase {
	background-image: url('../images/Beansbackground.jpg');
	background-position:top center;
}

#showcase h1{
	text-align: center;
	color: white;
	font-size: 50px;
	line-height: 1.6em;
	padding-top: 30px;
}
#main-footer{
	background: #333;
	color: #fff;
	text-align: center;
	position: absolute;
  	bottom: 0;
  	width: 100%;

}

	#main{
		width: 50%;
		float: left;
	}

	#sidebar{
		background: #494848;
		color: #fff;
		width: 30%;
		float: right;
		padding: 10px;
		margin-top: 50px;
		margin-left: auto;
		margin-right: auto;
	}
